"""SQLAlchemy entity for the {{ module_title }} module."""

from __future__ import annotations

{% if spec.stdlib() %}
{% for line in import_lines(spec.stdlib()) %}
{{ line }}
{% endfor %}

{% endif %}
{% for line in import_lines(spec.sqlalchemy()) %}
{{ line }}
{% endfor %}
from sqlalchemy.orm import Mapped, mapped_column

from jfastframework.db import Base, TenantMixin, TimestampMixin{{ ", UTCDateTime" if spec.needs_utc_datetime }}
{% set entity_class = Module %}
{% set entity_bases = "Base, TimestampMixin, TenantMixin" %}
{% include "_module_shared/entity_body.j2" %}
